<h1>Angular Router App</h1>
  <!-- This nav gives you links to click, which tells the router which route to use (defined in the routes constant in  AppRoutingModule) -->
  <nav>
    <ul>
      <li><a routerLink="" routerLinkActive="active">Home Component</a></li>
      <li><a routerLink="/users" routerLinkActive="active">Users Component</a></li>
      <li><a routerLink="/users/2" routerLinkActive="active">User 2 Component</a></li>
      <li><a routerLink="/users/3" routerLinkActive="active">User 3 Component</a></li>
    </ul>
  </nav>
 <app-home></app-home>
