body {
    width: 50%;
    margin: 0 auto;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
}

li {
    font-size: 1.5rem;
    padding: .5em;
}

a {
    text-decoration: none;
    color: darkslateblue;
}

a:hover {
    color: maroon;
}